@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-color: #1D2A35!important;
}

.text-col{
    color: red !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.active {
    opacity: 1;
  }

